<launch>
  <arg name="config" default="$(find octo_planner)/config/nav_params.yaml" />

  <node pkg="octo_planner" type="global_planner_node.py" name="global_planner" output="screen">
    <rosparam command="load" file="$(arg config)" />
  </node>

  <node pkg="octo_planner" type="local_planner_node.py" name="local_planner" output="screen">
    <rosparam command="load" file="$(arg config)" />
  </node>
</launch>